$PRIMARY-COLOR: #40409b;
$PRIMARY-COLOR-LIGHT: #5D5CDC;
$PRIMARY-COLOR-LIGHT-M: #B8B8D9;
$SECONDARY-COLOR: #FEB12F;
$LIGHT-GRAY-COLOR: #E7E7E7;
$DARK-GRAY-COLOR: #1f1f1f;
$WHITE-COLOR: #FFF;
$BLACK-COLOR: #050505;
